/* VARIABLES */ /* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.addres-link {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #1A1A1A;
  text-decoration: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addres-link::before {
  content: "";
  background-image: url("../images/location.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 15px;
  position: absolute;
  top: -2px;
  left: -15px;
}

.tel-link {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #1A1A1A;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.tel-link::before {
  content: "";
  background-image: url("../images/tel.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: -15px;
}

.header-main {
  padding: 15px 0 13px;
  background-image: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

.logo {
  padding-top: 8px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 155.2%;
  color: #FFFFFF;
}

.menu-button {
  border: transparent;
  background-color: transparent;
}

.site-header-link {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.contact {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #DC7000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media only screen and (min-width: 768px) {
  .home {
    position: relative;
  }
  .home::before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -17px;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    padding-top: 12px;
  }
  .home {
    margin-right: 87px !important;
  }
  .about {
    margin-right: 75px !important;
  }
  .service {
    margin-right: 64px !important;
  }
  .news {
    margin-right: 68px !important;
  }
}
.hero {
  padding-top: 102px;
  padding-bottom: 106px;
  background-image: none, url("../images/herobg.jpg");
  background-repeat: no-repeat;
  background-size: 590px 600px, cover;
  background-position: calc(50% + 268px), center;
}

.content {
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.marketing {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 155.2%;
  color: #E87D0E;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 155.2%;
}

.text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
}

.hero-link {
  padding: 15px 30px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
  border-radius: 40px;
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    background-image: url("../images/hero-after.svg"), url("../images/herobg.jpg");
  }
}
@media only screen and (min-width: 992px) {
  .content {
    max-width: 545px;
    padding: 0 70px;
  }
}
.picture {
  padding: 48px 0 101px;
}

.picture-context {
  padding: 0 20px;
}

.title-box {
  width: 100%;
  max-width: 500px;
}

.picture-title {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  color: #222222;
}

.picture-content {
  width: 100%;
  max-width: 540px;
}

.picture-topic {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
}

.picture-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
}

.imgpeople {
  width: 100%;
  background-color: transparent;
}

@media only screen and (min-width: 992px) {
  .picture {
    padding: 83px 0 165px;
  }
  .picture-context {
    padding: 0 70px;
  }
}
.list-content {
  width: 100%;
  max-width: 800px;
  margin-bottom: 100px;
  padding: 0 20px;
}

.list-topic {
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 187.5%;
  color: #222222;
}

.item-link {
  background-image: url("../../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: 18px;
}

.item {
  margin-bottom: 65px;
  padding-top: 95px;
  position: relative;
}
.item::before {
  content: "";
  width: 65px;
  height: 65px;
  padding: 16px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-color: rgba(220, 112, 0, 0.0901960784);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mobile::before {
  background-image: url("../../images/mobile.svg");
}

.pc::before {
  background-image: url("../../images/pc.svg");
}

.ps4::before {
  background-image: url("../../images/ps4.svg");
}

.vrar::before {
  background-image: url("../../images/vr.svg");
}

.arvr::before {
  background-image: url("../../images/vr-design.svg");
}

.modeling::before {
  background-image: url("../../images/3d.svg");
}

.list-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 187.5%;
  color: #000000;
}

@media only screen and (min-width: 992px) {
  .list-content,
.listed {
    padding: 0 70px;
  }
}
.project {
  padding: 60px 0 103px;
}

.project-contnet-box {
  padding: 0 20px;
}

.project-content {
  width: 100%;
  max-width: 500px;
  margin-bottom: 71px;
  padding: 0 20px;
}

.project-topic {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  color: #525252;
}

.project-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 187.5%;
  color: #525252;
}

.item-img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .project {
    padding: 141px 0 99px;
  }
  .project-contnet-box {
    padding: 0 70px;
  }
}
.contents {
  padding-bottom: 49px;
}

.box-contents {
  width: 100%;
  max-width: 330px;
}

.contents-topic {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.contents-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #515151;
}

.contents-link {
  padding: 13px 44px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #DC7000;
  border-radius: 0;
}
.contents-link:hover {
  color: #fff;
  background-color: #DC7000;
}

.contents-img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 992px) {
  .contents {
    padding-bottom: 125px;
  }
  .contents-img {
    width: 610px;
    height: 400px;
  }
  .box-contents {
    width: 100%;
    max-width: 473px;
  }
}
.loop {
  padding-bottom: 69px;
}

.loop-content {
  width: 100%;
  max-width: 300px;
  margin-bottom: 41px;
}

.loop-topic {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 187.5%;
  color: #222222;
}

.loop-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 187.5%;
  color: #525252;
}

.loop-form {
  padding: 30px 22px 18px 21px;
  background-color: #1B1B1B;
  border-radius: 15px;
}

.form-title {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.form-text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.form-input {
  padding: 15px 130px 15px 15px;
  margin-right: -100px;
}

.form-button {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 7px 11px 7px 16px !important;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  background-color: #DC7000;
  border-radius: 8px !important;
}
.form-button:hover {
  color: #fff !important;
  background-color: #DC7000 !important;
}
.form-button:focus {
  color: #fff !important;
  background-color: #DC7000 !important;
}
.form-button:active {
  color: #fff !important;
  background-color: #DC7000 !important;
}

@media only screen and (min-width: 768px) {
  .form-contet {
    margin-right: 50px;
    width: 100%;
    max-width: 636px;
  }
}
@media only screen and (min-width: 992px) {
  .loop {
    padding-bottom: 148px;
  }
  .loop-content {
    max-width: 400px;
    margin-bottom: 74px;
  }
  .loop-form {
    padding: 40px 50px 42px 46px;
  }
  .form-contet {
    margin-right: 100px;
  }
}
.site-footer {
  padding-top: 22px;
  padding-bottom: 27px;
  background-color: #1B1B1B;
}

.info-box {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.footer-info {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 190.6%;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */