.site-footer{
    padding-top: 22px;
    padding-bottom: 27px;
    background-color: #1B1B1B;
}

.info-box{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.footer-info{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 190.6%;
    color: #FFFFFF;
}

.iinfo{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
}

.title-footer{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF !important;
}

@media only screen and (min-width:768px) {
    .site-footer{
    padding-top: 66px;
    padding-bottom: 29px;

    .foter-content{
    margin-bottom: 53px !important;
    }
    }
}

@include mobile-first(992px) {
    .footer-info{
        font-size: 13px;
    }
}