.site-footer{
    padding-top: 22px;
    padding-bottom: 27px;
    background-color: #1B1B1B;
}

.info-box{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.footer-info{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 190.6%;
    color: #FFFFFF;
}

.footer-info-desc{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-info-link{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}