.project {
    padding: 141px 0 99px;
}

.project-content {
    width: 100%;
    max-width: 500px;
    margin-bottom: 71px;
    padding: 0 20px;
}
.project-topic {
    font-family: 'Poppins', "Arial", sans-serif;
font-weight: 600;
font-size: 25px;
line-height: 187.5%;
color: #525252;
}
.project-text {
    font-family: 'Poppins', "Arial", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 187.5%;
color: #525252;
}