.project {
    padding: 60px 0 103px;
}

.project-contnet-box {
    padding: 0 20px;
}

.project-content {
    width: 100%;
    max-width: 500px;
    margin-bottom: 71px;
    padding: 0 20px;
}

.project-topic {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 187.5%;
    color: #525252;
}

.project-text {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 187.5%;
    color: #525252;
}

.item-img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:992px) {
    .project {
        padding: 141px 0 99px;
    }

    .project-contnet-box {
        padding: 0 70px;
    }

    .project-topic{
        font-size: 25px;
    }

    .project-text{
        font-size: 14px;
    }

}